body{

    background: url("/assets/img/salzgitter-2739271_1280.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;

}

#mybox {
    width: 700px;
    padding: 10px;
    margin: auto;
  }