body{

    background: url("/assets/img/salzgitter-2739271_1280.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;

}

#mybox {
    width: 700px;
    padding: 10px;
    margin: auto;
  }


  label{
     position: relative;
     margin-left: auto;
  }
  button{
      margin-left: 130px;
      
  }

  .example-chip-list {
    width: 100%;
  }
  #select-form-btn{
    left: 88%;
    margin-left: unset !important;
  }

  #new-event-wrapper{
    display: flex;
    /* align-items: center; */
    /* flex-direction: column; */
    justify-content: center;
    /* width: 100%; */
    padding: 20px;

  }