<app-header></app-header>
<body>
  <div class="wrapper" id="new-event-wrapper">
    <div class="field is-horizontal" id="formContent">
      <div class="field-body">
        <!--Event Form Creation-->
        <form #newEventForm="ngForm" >
          <!--Event Name Input-->
          <label class="label"> Event Name</label>
          <input type="text" #name="ngModel" [(ngModel)]="newEventService.selectedEvent.name" name="name" placeholder="Event Name"
          required  [ngClass]="{'invalid-textbox' :newEventForm.submitted}">
          <!--Here i insert chip material-->
          <!--Event Members Input-->
          <mat-label class="label">Members Email</mat-label>
          <mat-form-field class="example-chip-list">
            <mat-chip-list #chipList aria-label="Fruit selection">
              <mat-chip *ngFor="let email of emails" [selectable]="selectable"
                      [removable]="removable" (removed)="remove(email)">
                {{email.addr}}
                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
              </mat-chip>
              <input [matChipInputFor]="chipList"
                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                    [matChipInputAddOnBlur]="addOnBlur"
                    (matChipInputTokenEnd)="add($event)"
                    type="text" #email="ngModel" [(ngModel)]="newEventService.selectedEvent.members" name="members" 
                    [ngClass]="{'invalid-textbox' :newEventForm.submitted }">
            </mat-chip-list>
          </mat-form-field>

          <label class="label">Event Form Selection</label>
          <!-- <input type="text" > -->
          <div class="buttons">

            <button id="select-form-btn" #formID="ngModel" 
            [(ngModel)]="newEventService.selectedEvent.formID" class="button is-link"
             (click)="selectItem()" name="formID" (onClose)="showModal=false">Select Event Form</button>

            <app-form-modal *ngIf="showModal" (onClose)="selectedItem($event)"></app-form-modal>
          </div>
          <!--Event Message Input-->
          <label class="label">Message</label>
          <input type="text" #password="ngModel" [(ngModel)]="newEventService.selectedEvent.message" name="message" placeholder="Here you can write to participants"
          minlength="4" required [ngClass]="{'invalid-textbox' :newEventForm.submitted}">

          <input type="submit" value="Send" (click)="actionCenter(newEventForm)">
        </form>
      </div>
    </div>
  </div>

<!-- Success message -->
<div class="success" *ngIf="showSuccessMessage">
  Saved successfully
</div>

<!-- Error message -->
<div class="alert" *ngIf="serverErrorMessages">
  {{serverErrorMessages}}
</div>
</body>


