body{

    background: url("/assets/img/salzgitter-2739271_1280.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;

}

#mybox {
    width: 700px;
    padding: 10px;
    margin: auto;
  }


  label{
     position: relative;
     margin-left: auto;
  }
  button{
      margin-left: 130px;
      
  }
.form-input-display{
  display: flex;
  align-items: center;
}
  .example-chip-list {
    width: 100%;
  }
  #select-form-btn{
    margin-left: unset !important;
    height: 55px;
  }

  #new-event-wrapper{
    display: flex;

    justify-content: center;
    padding: 20px;

  }
  #formContent > div > form > .mat-form-field{
      width:85%;
  }