<div id="recommendation-wrapper">
    <div class="recommendation-feild" >
        <label  class="label">Picnic At the See</label>
        <img id="rec-first" class="vacation-img" src="../../../../../assets/img/vacation.jpeg" (click)="displayForm()"/>
    </div>
    <div class="recommendation-feild">
        <label class="label">Surprize Birthday party</label>
        <img class="btn btn-outline-secondary" data id="rec-second" class="vacation-img" src="../../../../../assets/img/vacation2.jpeg"  (click)="displayForm()"/>
    </div>
    <div class="recommendation-feild">
        <label class="label">Chyack At the Goshrim</label>
        <img id="rec-third" class="vacation-img" src="../../../../../assets/img/vacation3.jpeg"  (click)="displayForm()"/>
    </div>
    <div class="recommendation-feild">
        <label class="label">Eilat Family Vacation</label>
        <img id="rec-forth" class="vacation-img" src="../../../../../assets/img/vacation4.jpeg"  (click)="displayForm()"/>
    </div>
    <div class="recommendation-feild">
        <label class="label">Vacation at Dead Sea</label>
        <img id="rec-fifth" class="vacation-img" src="../../../../../assets/img/vacation5.jpeg"  (click)="displayForm()"/>
    </div>

</div>