#recommendation-wrapper{
    display:flex;
    align-items: flex-end;

    
}
label{
    color: white;
}
.vacation-img{
    width: 100%;
    border-radius: 10px;
    min-width: 205px;
    min-height: 154px;
    padding: 5px;
}
