.modal-card{
    top: 10%;
}
th{
    font-size: 19px;
    background: unset;
}
#modal-title-wrapper {
    display: flex;
    width: 100%;
    padding: 20px;
    flex-direction: column;
    font-family: fantasy;
    padding: 1%;
    font-size: 20px;
}
