<div class="modal"  id="recommendation-modal">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Welcome {{user_name}}! Please fill this short survey </p>
        <button class="delete" aria-label="close" (click)="closeModal()"></button>
      </header>
      <section class="modal-card-body">
        <!-- Content ... -->
      <!-- <div class="wrapper" id="modal-title-wrapper" [innerHtml]="recommendation_element"> </div> -->
      <div id="modal-title-wrapper"> </div>
      </section>
      <footer class="modal-card-foot">
        <button class="button is-success" id="submit-recommendations" (click)="sendRecommendations()">Send Survey</button>
      </footer>
    </div>
  </div>