
<div class="modal is-active">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Event Forms</p>
        <img id="recommendation-info-icon" src="../../../../assets/icons/information-button.png"/>
        <button class="delete" aria-label="close" (click)="cancel()"></button>
      </header>
      
      <section>
        <app-modal-recommendations id="recommendation-display"></app-modal-recommendations>
      </section>

      <section class="modal-card-body">

        <div class="select">
          <select name="selected" [(ngModel)]="selected">
            <option value="">Select a form</option>
            <option value="basic-option">
              <label>Basic Form</label>
            </option>
            <option value="birth-day-option">
              <label>Birth-Day Form</label>
            </option>
            <option value="organize-form">
              <label>Organize Trip Form</label>
            </option>
            <option value="picnic-form">
              <label>Picnic Form</label>
            </option>
          </select>
        </div>
      </section>
  


      <footer class="modal-card-foot">
        <button class="button is-success" (click)="selectedItem()">Show Form</button>
        <button class="button" (click)="cancel()">Cancel</button>
      </footer>
    </div>
    <app-info-dialog></app-info-dialog>
    
  </div>

