<app-header></app-header>

  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Event Form</mat-card-title>
      <mat-card-subtitle>This is a form for your next event -  please fill it up! </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <form (ngSubmit)="onSubmit(f)" #f="ngForm" novalidate>
        <mat-horizontal-stepper linear>
          <mat-step #personal="ngModelGroup" ngModelGroup="personal" [completed]="personal.valid">
            <ng-template matStepLabel>Personal</ng-template>
            <app-base-form modelGroupName="app-base-form"></app-base-form>
          </mat-step>
          <mat-step>
            <ng-template matStepLabel>Done</ng-template>
            <p>Thanks for using the survey!</p>
            <div>
              <button mat-raised-button type="button" (click)="onClick(f)" color="primary">Submit Data</button>
            </div>
          </mat-step>
        </mat-horizontal-stepper>
      </form>
      <pre>{{ f.value | json }}</pre>
    </mat-card-content>
  </mat-card>
