<ul class="tilesWrap">
	<li>
		<h2>01</h2>
		<h3>Fact 1</h3>
		<p>
            Technology Improves Performance: Event technology can help increase event attendance 20%, increase productivity 27%, and decrease costs 20-30%
		</p>
		<button (click)="openWeb()">Read more</button>
	</li>
	<li>
		<h2>02</h2>
		<h3>Fact 2</h3>
		<p>
            Revenue and Cost Split: 50% of event revenue typically comes from registration fees.
            Food and beverage expenses typically take up 33% of the overall budget
		</p>
		<button (click)="openWeb()">Read more</button>
	</li>
	<li>
		<h2>03</h2>
		<h3>Title 3</h3>
		<p>
			Event Industry Growth: The projected job growth rate for the events industry is 10% between 2014 and 2024
		</p>
		<button (click)="openWeb()">Read more</button>
	</li>
	<li>
		<h2>04</h2>
		<h3>Fact 4</h3>
		<p>
			Digital Payments a Must: 9% of Americans carry no cash and more than half carry $20 or less. Mobile payment services have revolutionized the way we pay, making cash increasingly obsolete.
            Make sure the event and your vendors accept digital payment. (Source)
		</p>
		<button (click)="openWeb()">Read more</button>
	</li>
</ul>