body{

        background: url("/assets/img/kalen-emsley-7bwQXzbF6KE-unsplash.jpg");
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;

}
#button1{
margin: 10px -50px; 
top:50%; 
left:1500%;
position:relative;


}
#button2{
text-align:center;
margin: 10px -50px; 
position:relative;
top:50%; 
left:1200%;
        
}