<!--   The Heder of the home page -->
<app-header></app-header>
<!--Footer insertion  to fix-->

<header>
  <div class="overlay">
  </div>
  <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
    <source src="https://storage.googleapis.com/coverr-main/mp4/Mt_Baker.mp4" type="video/mp4">
  </video>
  <div class="container h-100">
    <div class="d-flex h-100 text-center align-items-center">
      <div class="w-100 text-white">
        <div class="field is-grouped">

          <p class="control">
            <button class="button is-link" (click)="goToActionCenter()" id="button1">
              Action Center
            </button>
          </p>

          <p class="control">
            <button class="button is-danger" (click)="goToNewEvent()" id="button2">
              Create New Event
            </button>
          </p>

        </div>
      </div>
    </div>
  </div>
</header>
<app-footer></app-footer>
