

<!--   The Heder of the home page -->
<app-header></app-header>
<!--Footer insertion -->
<app-footer></app-footer>
<body>
    <!--Here are 2 buttons for Action Center and new event creation-->

    <div class="field is-grouped">
        <p class="control">
          <button class="button is-link" (click)="goToActionCenter()" id="button1">
            Action Center
          </button>
        </p>

        <p class="control">
          <button class="button is-danger" (click)="goToNewEvent()" id="button2">
            Create New Event
          </button>
        </p>
      </div>
</body>
<!--Add icons to twitter and facebook-->